*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: sans-serif;
}

body{
  background-image: url(./Assets/bg1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 30px;
}

#OuterNav{
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  width: 100%;
}

#InnerNav{
   display: flex;
   justify-content: space-evenly;
   flex-grow: 0.3;
   align-items: center;
   /* gap: 10px; Add gap between items */
   cursor: pointer;
}

#InnerNav div:hover{
  font-size: 1.3rem;
  color: red;
}

#OuterDiv{
  display: flex;
  padding-top: 60px;
  justify-content: space-evenly;
}

#Div1{
  margin-top: 8%;
  width: 40vw;
  height: 50Vh;
}

#Div1 p{
   margin-top: 5%;
}

#Div1 button{
  background-color: rgb(16, 141, 16);
  margin: 20px;
  padding: 10px;
  border-radius: 10%;
  cursor: pointer;
}

#Div1 button:hover{
  background-color: rgb(39, 225, 39);
}

#Div2{
  background-color: #fff;
  height: 60vh;
  width:40vw;
}

#Div2 h1{
  margin-top: 40px;
  color : #000;
  text-align: center;
}

#Div2 input{
  background-color: rgb(234, 239, 245);
  display: block;
  width: 80%;
  height: 30px;
  border-radius: 5%;
  margin-left: 10%;
  margin-top: 10px;
}

 #Div2 #btn{
  background-color: rgb(25, 221, 221);
  border-radius: 13px;
  cursor: pointer;
}

#Div2 #btn:hover{
  background-color: rgb(97, 165, 165);
}

#button1{
  background-color: blue;
  cursor: pointer;
}

#button1:hover{
  background-color: rgb(92, 92, 207);
  font-size: 1.2rem;
  color: red;
}